<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <style>
        .errors {
            color: red;
        }

        #head {
            display: none;
        }
    </style>
    <title>注册页面</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>用户注册</h2>
            <form id="form">
                {% csrf_token %}
                {% for form in forms %}
                    <div class="form-group">
                        <label for="{{ form.auto_id }}">{{ form.label }}</label>
                        {{ form }} <span class="errors pull-right"></span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="head">头像
                        <img src="/static/img/default.png" id="img_head" alt="" height="60" width="60"
                             style="margin-left:10px">
                    </label>
                    <input accept="image/*" type="file" name="head" id="head">
                </div>

            </form>
            <input type="button" id="submit_btn" value="提交" class="btn btn-danger">

        </div>
    </div>
</div>
</body>
<script>
    $("#head").change(function () {
        var file = $("#head")[0].files[0]
        var filereader = new FileReader()
        filereader.readAsDataURL(file)
        filereader.onload = function () {
            $("#img_head").attr({'src': filereader.result})
        }

    })
    $("#submit_btn").click(function () {
        var formdata = new FormData()
        formdata.append('myfile',$('#head')[0].files[0])
        var form_data = $("#form").serializeArray()
        $.each(form_data,function (key,value) {
            formdata.append(value.name,value.value)
        })
        $.ajax({
            url:'/register/',
            type:'post',
            processData:false,
            contentType:false,
            data:formdata,
            success:function (data) {
                console.log(data)
                if(data.status==100){
                    location.href = data.url
                }else{
                    console.log(data.errors)
                    $('.errors').html('').parent().removeClass('has-error')
                    $.each(data.errors,function(key,value){
                        console.log(key)
                        console.log(value)
                        if(key=='__all__'){
                            $('#id_re_pwd').next().html(value[0]).parent().addClass('has-error')
                        }else{
                            $('#id_'+key).next().html(value[0]).parent().addClass('has-error')
                        }
                    })
                    setTimeout(function () {
                        $('.errors').html('').parent().removeClass('has-error')
                    },3000)
                }
            }
        })
    })
</script>
</html>